doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="../static.css/ours.css")
    title 탭이름 자리
    img(src="mainHeader.png")
  body
    div(id="grid")
      div(id="list")
        div(id="ltitle") 리스트 제목
        ul
          li 1
          li 2
          li 3
          li 4
      div(id="Object")
        h1 Object title
        h2 Object description
