doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title 탭타이틀
    //- // Bootstrap core CSS
    style
      include ../../../css/util.css
      include ../../../css/main.css
      include ../../../vendor/bootstrap/css/bootstrap.min.css
      include ../../../css/clean-blog.min.css
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")      
  body
    // Navigation
    include ../navigation.pug
    // Page Header
    include ./header1.pug
    // Main Content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview#oldpost
            span.login100-form-title.p-b-32
              | 글 쓰기
            form(action='/topic/add' method='post')
              //- .login100-form
              span.txt1.p-b-11
                | 글 제목
              div
                input.input100(type='text' name='title' placeholder='title' )
              p
              span.txt1.p-b-11
                | 글 내용
              div
                textarea.input100(name='description' placeholder='description',style="height:200px;")
              div
                input(type="hidden" id="opencheck" name="opencheck" value="0")
              div
              span.txt3(id="selectbox" name="selectbox", style="padding-top:10px")
                | *비밀글 희망시 체크해주세요  
                input(type="checkbox" name="chkBox" id="chkBox" value="open")
              div
                input.login100-form-btn(type='submit')
                script(type="text/javascript").
                  function changecheckval(){
                    if($('#opencheck').val()==0)
                    {
                      $('#opencheck').val(1);      
                    } else{
                      $('#opencheck').val(0);                        
                    }
                  }
                  $(document).ready(function(){
                    $('#chkBox').click(function(){
                      changecheckval();
                    })
                  })
          // Pager
          .topicFunc            
            include ../topicFunc.pug
    hr
    // Footer
    footer
      //- include ../footer.pug
