doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title 탭타이틀
    //- // Bootstrap core CSS
    style
      include ../../../css/util.css
      include ../../../css/main.css
      include ../../../vendor/bootstrap/css/bootstrap.min.css
      include ../../../css/clean-blog.min.css

  body
    // Navigation
    include ../navigation.pug
    // Page Header
    include ./header1.pug
    // Main Content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview#oldpost
            span.login100-form-title.p-b-32
              | 글 쓰기
            form(action='/topic/add' method='post')
              //- .login100-form
              span.txt1.p-b-11
                | 글 제목
              div
                input.input100(type='text' name='title' placeholder='title')
              span.txt1.p-b-11
                | 글 제목
              div
                textarea.input100(name='description' placeholder='description',style="height:150px;")
              //- p
              //-     input(type='text' name='author' placeholder='author')
              div
                  input.login100-form-btn(type='submit')
          .post-preview#newpost
          //-   a(h
          // Pager
          .topicFunc            
            include ../topicFunc.pug
            //- a.btn.btn-primary.float-right(href="#") 이버튼재활용생각해봅시다 →
    hr
    // Footer
    footer
      //- include ../footer.pug
