doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title 탭타이틀
    //- // Bootstrap core CSS
    style
      include ../../../vendor/bootstrap/css/bootstrap.min.css
      include ../../../css/clean-blog.min.css
  body
    // Navigation
    include ../navigation.pug
    // Page Header
    include ./header2.pug
    // Main Content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview
            h1='Delete '+topic.title
              form(action='/topic/'+topic.id+'/delete' method='post')
                  p
                    input(type='submit' value='yes')
              a(href='/topic/'+topic.id) no
         
          // Pager
          .topicFunc
            include ../topicFunc.pug
    hr
    // Footer
    footer
      //- include ../footer.pug
