doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title 탭타이틀
    style
      include ../../../css/util.css
      include ../../../css/main.css
      include ../../../vendor/bootstrap/css/bootstrap.min.css
      include ../../../css/clean-blog.min.css
  body
    // Navigation
    include ../navigation.pug
    // Page Header
    include ./header2.pug
    // Main Content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview#oldpost
            span.login100-form-title.p-b-32
              | 글 수정
            form(action='/topic/'+topic.id+'/edit' method='post')
              //-.login100-form
              span.txt1.p-b-11
                | 글 제목
              div
                input.input100(type='text' name='title' value=topic.title placeholder='title')
              span.txt1.p-b-11
                | 글 내용
              div
                textarea.input100(name='description'  placeholder='description',style="height:150px;")=topic.description
              //- div
              //-   input.input100(type='text' name='author' value=topic.author placeholder='author')
              div
                  input.login100-form-btn(type='submit')
          .post-preview#newpost
          // Pager
          .topicFunc
            
            a(href='/topic/add') add  
            if topic
              a(href='/topic/'+topic.id+'/edit') edit  
              a(href='/topic/'+topic.id+'/delete') delete  
            a(href='/topic') list
            //- a.btn.btn-primary.float-right(href="#") 이버튼재활용생각해봅시다 →
    hr
    // Footer
    footer
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            ul.list-inline.text-center
              li.list-inline-item
                a(href="#")
                  span.fa-stack.fa-lg
                    i.fas.fa-circle.fa-stack-2x
                    i.fab.fa-twitter.fa-stack-1x.fa-inverse
              li.list-inline-item
                a(href="#")
                  span.fa-stack.fa-lg
                    i.fas.fa-circle.fa-stack-2x
                    i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
              li.list-inline-item
                a(href="#")
                  span.fa-stack.fa-lg
                    i.fas.fa-circle.fa-stack-2x
                    i.fab.fa-github.fa-stack-1x.fa-inverse
            p.copyright.text-muted Copyright © Your Website 2018
    // Bootstrap core JavaScript
    script(src="./vendor/jquery/jquery.min.js")
    script(src="./vendor/bootstrap/js/bootstrap.bundle.min.js")
    // Custom scripts for this template
    script(src="./js/clean-blog.min.js")
