if user
    header.masthead(style="background-image: url('../img/"+user.picture+".jpg')")
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .site-heading
                        h1 Customized_blog
                        span.subheading Something have gone changing