extends ../masterlayout
block content
    artcle
        if topic
            h2= topic.title
            = topic.description
            div= 'by '+topic.author
        else
            if user
                h2= 'Welcome, '+user.username+' you are using masterview'
            else
                h2 Welcome
            | developing Customized blog with using masterview
            

    ul
        li
            a(href='/topic/add') add
        if topic
            li
                a(href='/topic/'+topic.id+'/edit') edit
            li
                a(href='/topic/'+topic.id+'/delete') delete
