doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title 탭타이틀
    style      
      include ../../../vendor/bootstrap/css/bootstrap.min.css
      include ../../../css/clean-blog.min.css
    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
  body
    // Navigation
    include ../navigation.pug
    // Page Header
    if tag
      include ./header2.pug
    else
      include ./header1.pug
    // Main Content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview#oldpost
            if topic
              a
                h2.post-title
                  =topic.title
                h3.post-subtitle
                  =topic.description
                  div= '       by '+topic.author
                .float-right
                  div
                    if topic.tag3
                      a.float-right(href='/topic/tag/'+topic.tag3) 
                        ='#'+topic.tag3
                    if topic.tag2
                      a.float-right(href='/topic/tag/'+topic.tag2 style="font-size:50px;") 
                        ='#'+topic.tag2+', '
                    a.float-right(href='/topic/tag/'+topic.tag style="font-size:100px;") 
                      ='#'+topic.tag+', '
            else if topics
              each topic in topics
                if topic.open==1
                  a(href="/topic/"+topic.id )
                    h2.post-title(style="color:gray")
                      =topic.title
                    h3.post-subtitle(style="color:gray")
                      =topic.description
                  hr
                else
                  a(href="/topic/"+topic.id)
                    h2.post-title
                      =topic.title
                    h3.post-subtitle
                      =topic.description
                  hr

            else
              a(href="/글리스트못불러옴")
                h2.post-title
                  | 로그인을 해주세요!!
                h3.post-subtitle
                  | 로그인을 하시면 본인이 쓴 글들이 이곳에 나타납니다 ^\&^
          .post-preview#newpost
            p
            p
            p
            p
          //- Pager          
          .post-preview#oldpost
            include ../topicFunc
    hr
    // Footer
    footer
      //- include ../footer.pug
