extends ./headlogo
block content1

        doctype html
        html
        head
            meta(charset='utf-8')
        body
        ul#account
            if user
                li
                    a(href='/auth/logout') Logout
            else
                li
                    a(href='/auth/register') register
                li
                    a(href='/auth/login') login
        //- h1 
        //-     a(href="/topic") Customized Blog logo would be here
        
        block content