nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand(href="/") HOME
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                if user
                    li.nav-item
                        a.nav-link(href="/auth/logout") logout
                else
                    li.nav-item
                        a.nav-link(href="/auth/login") login
                    li.nav-item
                        a.nav-link(href="/auth/register") register