a(href='/topic/add') add  
if topic
    a(href='/topic/'+topic.id+'/edit') edit  
    a(href='/topic/'+topic.id+'/delete') delete 
a(href='/topic') list
p
a.float-rigth(='/topic/search') search
input.float-ritght(type="search")